<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Amat.su/kaze!</title>
  {% load staticfiles %}
  <link href="{% static 'css/amatsu.css' %}" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    <div class="logo">
      <img alt="Amatsukaze" src="{% static 'img/amatsu2.png' %}" height="288" width="512"/>
    </div>
    <div style="text-align:center">
      <h1>404 Error</h1>
      <h2>Uh oh :( Either you're on a page you shouldn't be or something just broke! Amatsukaze is sad.</h2>
    </div>

    <footer class="footer">
    </footer>

</body>
</html>
