<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Amat.su/kaze!</title>
  {% load staticfiles %}
  <link href="{% static 'css/amatsu.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  <script src="{% static 'js/funcs.js' %}" type="text/javascript"></script>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
  <div class="logo">
      <img alt="Amatsukaze" src="{% static 'img/amatsu2.png' %}" height="288" width="512"/>
    </div>
    <div class="intake">
      <form action="generateLink" id="urlForm" method="post">
        {% csrf_token %}
        <input id = "url" name="{{ randomizedID }}" type="text" action="" class="search center-block" placeholder="Enter the URL you want shortened here!">
        <button onClick="generateLink">Shorten</button>
    </form>
    </div>
    <div class="outtake">
      <input id="output" type="text" placeholder="Shortened URLs come out here!"/>
      <button id="copyButton" class="btn" data-clipboard-target="#output">Copy</BUTTON>
    </div>
    <div class="outtake">
      http://amat.su/<input id="customURL" type="text" placeholder="Enter a url between 4 and 32 characters for custom urls!"/><br />
      <input type="checkbox" id="addKaze" value="add">Add /kaze/ to URL
    </div>

    <footer class="footer">
    </footer>

</body>
</html>
